<div>
     <h1 class="header"><b>Cart Details ({{userCart.length}})</b> <button matFab extended class="order" (click)="placeOrder()">Place Order</button> <br> </h1>
     @if(userCart.length>0){
     <h2 class="header"> <b>Total Cost : {{totalAmount | currency:'INR' :'symbol':'1.0-2'}}</b> </h2>
     }
     
</div>
{{priceAfterDiscount}}

<div class="emptyCart">
     @if(userCart.length===0){
     <h1><mat-icon class="shopping-cart">shopping_cart</mat-icon> Cart is empty</h1>
    }
</div>

@for (cart of userCart; track cart.cartId) {
<mat-card class="custom-card">

     <mat-card-header class="header">

          <mat-card-title class="title" ><b  (click)="cardClick(cart.product?.productId!)">{{cart.product?.productName}}</b>     <span class="total"  (click)="cardClick(cart.product?.productId!)"> <b>Total : {{cart.totalCost | currency:'INR' :'symbol':'1.0-2' }} </b></span>  <button matFab extended class="remove-button"  (click)="removeCart(cart.cartId)">
               <mat-icon>close</mat-icon></button></mat-card-title>


     </mat-card-header>

     <mat-card-content (click)="cardClick(cart.product?.productId!)">
          <img mat-card-image src={{cart.product?.img}} alt="Profile Photo" />
          <p class="content">
               {{cart.product?.description}}
          </p>
          <div class="cost"><b> {{cart.product?.cost | currency:'INR' :'symbol':'1.0-2' }}</b> </div> <br>
          <div><b> Quantity added {{cart?.quantity}} </b> </div>
          <div  class="product-left" [style.color]="cart.product!.quantity < 10 ? 'orange' : 'black'">
                Product left <b>{{cart.product?.quantity}}</b>  </div> 
          <div class="availability" [style.color]="cart.product!.quantity > 0 ? 'green' : 'red'">
               {{cart.product!.quantity > 0 ? 'In Stock' : 'Out of Stock' }}  

          </div> <br>


     </mat-card-content>
               <span >@if(availableApplybutton(cart.productId)){<button class="coupon"  matButton="tonal" (click)="openApplyCouponDialog(cart)"><mat-icon>local_offer</mat-icon><b>Apply Coupon </b></button>}</span>
     <div > 
           </div>
              
</mat-card>
}