.tabs{
    display: flex;
    justify-content: right;
    margin-top:0px;
    width: 100%;
    background-color: rgb(252, 225, 116);
    height:10%;
    font-size:xx-large;
    
}

button{
    font-size: large;
    margin-bottom:10px;
}