<div class="top">
  <button class="add-button" matFab extended color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>New
    Product</button>

  <button class="coupons"  matFab extended color="primary" routerLink="/coupons"><mat-icon>discount</mat-icon>Coupons</button>

  <mat-form-field class="search">
    <mat-label><mat-icon>search</mat-icon> Search</mat-label>
    <input matInput (keyup)='search($event)'>
  </mat-form-field>

  <mat-form-field class="filter">
    <mat-label>Select Category</mat-label>
    <mat-select formControlName="category">
      @for (category of categories; track category) {
      <mat-option [value]="category.categoryName" (click)="categoryData(category.categoryName)">{{ category.categoryName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-button-toggle-group class="toggle" value={{toggleOption}} (change)="toggle($event.value)">
    <mat-button-toggle value='All'><b>All</b></mat-button-toggle>
    <mat-button-toggle value="In Stock"><b>In Stock</b></mat-button-toggle>
    <mat-button-toggle value="Out of Stock"><b>Out of Stock</b></mat-button-toggle>
  </mat-button-toggle-group>
</div>

<table mat-table [dataSource]="productDataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="img">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <b>Product</b>
    </th>
    <td mat-cell *matCellDef="let product" (click)="cardClick(product!.productId)"> <img mat-card-image
        src={{product.img}} alt="Profile Photo" /> </td>
  </ng-container>

  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productName">
      <b>Name </b>
    </th>
    <td mat-cell *matCellDef="let product" (click)="cardClick(product!.productId)"> <b>{{product.productName}}</b> </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
      <b> Description</b>
    </th>
    <td mat-cell *matCellDef="let product" (click)="cardClick(product!.productId)"> {{product.description}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
      <b>Category </b>
    </th>
    <td mat-cell *matCellDef="let product" (click)="cardClick(product!.productId)"> {{product.category}} </td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost">
      <b>Cost </b>
    </th>
    <td mat-cell *matCellDef="let product" (click)="cardClick(product!.productId)"> {{ product.cost | currency:'INR'
      :'symbol':'1.0-2' }} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
      <b>Quantity </b>
    </th>
    <td mat-cell *matCellDef="let product" (click)="cardClick(product!.productId)"> {{product.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef><b>Action </b> </th>
    <td mat-cell *matCellDef="let product">
      <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog(product)">Edit</button>
        <button mat-menu-item (click)="deleteProduct(product.productId)">Delete</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="productDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: productDisplayedColumns;"></tr>
</table>
   @if(this.productDataSource.data.length === 0 ){
    <div class="emptyCart"><h1><mat-icon class="no-product">remove_shopping_cart</mat-icon> Product not found</h1> </div>
   }
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
