 mat-card-header,
      mat-card-content{
        display: flex;
        justify-content: center;
      }
      mat-card {
        margin: 80px auto;
        max-width: 400px;      
      }

      button {
        width: 100%;
      }