<mat-card>
  <mat-card-header>
    <mat-card-title><b>Add Category</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput placeholder="Enter category name" formControlName="category" />
    <mat-error>
        @if (categoryForm.get('category')?.invalid) { Category is required }
      </mat-error>
  </mat-form-field><br>  
    <button mat-raised-button color="primary" type="submit" [disabled]="!categoryForm.valid">Add</button><br><br>
</form>
  </mat-card-content>
</mat-card>

<div align="center"> @for ( category of categories; track $index){
<p> <span><b> {{category.categoryId}}  : {{category.categoryName}} </b> 
<button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item (click)="openDialog(product)">Edit</button> -->
        <button mat-menu-item (click)="deleteCategory(category.categoryId)">Delete</button>
      </mat-menu> </span> </p>  
}</div>

